@import '@presentation/styles/colors.scss';
@import '@presentation/styles/animations.scss';

.surveyResultWrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  background-color: $background;

  .contentWrap {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 80rem;
    width: 100%;
    flex-grow: 1;
    padding: 4rem;

    &:empty {
      position: relative;
      background-repeat: no-repeat;
      overflow: hidden;
      background-image:
        linear-gradient(to right, $disabledBackground, $disabledBackground),
        linear-gradient(to right, $disabledBackground, $disabledBackground),
        linear-gradient(to right, $disabledBackground, $disabledBackground),
        linear-gradient(to right, $disabledBackground, $disabledBackground),
        linear-gradient(to right, $disabledBackground, $disabledBackground),
        linear-gradient(to right, $disabledBackground, $disabledBackground),
        linear-gradient(to right, $disabledBackground, $disabledBackground);
      background-position: 
        left 4rem top 4rem,
        left 13rem top 4.6rem,
        left 13rem top 8rem,
        left 13rem top 11.6rem,
        left 4rem top 17.4rem,
        left 4rem top 28rem,
        left 4rem top 39rem;
      background-size: 
        8rem 10rem,
        calc(95% - 18rem) 2rem,
        calc(100% - 18rem) 2rem,
        calc(50% - 18rem) 2rem,
        calc(100% - 8rem) 9rem,
        calc(100% - 8rem) 9rem,
        calc(100% - 8rem) 9rem;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        background-image: linear-gradient(to right, transparent, rgba($white, 0.2), transparent);
        animation: shimmer 1.2s infinite;
      }

    }

    hgroup {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 1.6rem;

      h2 {
        color: $primaryDark;
        font-size: 2.8rem;
        font-weight: bold;
      }

      .calendarWrap {
        width: 8rem;
        margin-right: 1.6rem;
      }
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;


      li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: $white;
        align-items: center;
        padding: 2rem;
        border-radius: 1rem;
        margin-top: 1.6rem;

        &.active {
          box-shadow: 0rem 0rem 0.3rem 0.2rem $primaryLight;
        }

        img {
          width: 5rem;
          heigh: 5rem;
          margin-right: 2rem;
        }

        .answer {
          flex-grow: 1;
          margin-right: 2rem;
          font-size: 2rem;
          color: $primaryDark;
        }

        .percent {
          font-size: 3rem;
        }
      }
    }

    button {
      margin-top: 2.4rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .surveyResultWrap {
    .contentWrap {
      padding: 3rem;
      &:empty {
        background-image:
          linear-gradient(to right, $disabledBackground, $disabledBackground),
          linear-gradient(to right, $disabledBackground, $disabledBackground),
          linear-gradient(to right, $disabledBackground, $disabledBackground),
          linear-gradient(to right, $disabledBackground, $disabledBackground),
          linear-gradient(to right, $disabledBackground, $disabledBackground),
          linear-gradient(to right, $disabledBackground, $disabledBackground),
          linear-gradient(to right, $disabledBackground, $disabledBackground);
        background-position: 
          left 3rem top 3rem,
          left 10.5rem top 4.5rem,
          left 10.5rem top 7rem,
          left 10.5rem top 9.5rem,
          left 3rem top 16.2rem,
          left 3rem top 26rem,
          left 3rem top 35.8rem;
        background-size: 
          6rem 10rem,
          calc(95% - 16rem) 2rem,
          calc(100% - 16rem) 2rem,
          calc(70% - 16rem) 2rem,
          calc(100% - 6rem) 8rem,
          calc(100% - 6rem) 8rem,
          calc(100% - 6rem) 8rem;
      }
  
      hgroup {
        h2 {
          font-size: 2rem;
        }
  
        .calendarWrap {
          width: 6rem;
        }
      }
  
      ul {
        li {
          img {
            width: 4rem;
            heigh: 4rem;
          }
  
          .answer {
            font-size: 1.8rem;
            color: $primaryDark;
          }
  
          .percent {
            font-size: 2rem;
          }
        }
      }
    }
  }
  
}
