@import '@presentation/styles/colors.scss';


.login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;

  .form {
    display: flex;
    flex-direction: column;
    width: 40rem;
    background-color: $white;
    padding: 4rem;
    border-radius: .8rem;
    align-self: center;
    box-shadow: 0rem 0.1rem 0.3rem -0.1rem $black;

    h2 {
      color: $primaryDark;
      text-align: center;
      font-size: 2rem;
      text-transform: uppercase;
    }

    .submit {
      margin-top: 3rem;
    }

    .link {
      text-align: center;
      color: $primary;
      text-transform: lowercase;
      margin-top: 1.6rem;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

}