@import '@presentation/styles/colors.scss';

* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $background;
  height: 4rem;
  font-size: 1.4rem;
}

input[type="password"],
input[type="email"] {
  font-size: 1.4rem;
  border: 0.1rem solid $primaryLight;
  line-height: 4rem;
  border-radius: 0.4rem;
  padding-left: 1rem;
  padding-right: 3rem;


  &:focus {
    outline-color: $primaryLight;
  }
}

button {
  background-color: $primary;
  color: $white;
  border-radius: .8rem;
  font-size: 1.6rem;
  border: none;
  line-height: 6rem;

  &:hover {
    opacity: 0.9;
  }
}

.login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;

  .form {
    display: flex;
    flex-direction: column;
    width: 40rem;
    background-color: $white;
    padding: 4rem;
    border-radius: .8rem;
    align-self: center;
    box-shadow: 0rem 0.1rem 0.3rem -0.1rem $black;

    h2 {
      color: $primaryDark;
      text-align: center;
      font-size: 2rem;
      text-transform: uppercase;
    }

    .inputWrap {
      margin-top: 1.6rem;
      display: flex;
      align-items: center;
      position: relative;

      input {
        flex-grow: 1;
      }

      .status {
        position: absolute;
        right: 0.5rem;
        font-size: 1.2rem;
        cursor: help;
      }
    }

    .submit {
      margin-top: 3rem;
    }

    .link {
      text-align: center;
      color: $primary;
      text-transform: lowercase;
      margin-top: 1.6rem;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    .errorWrap {
      display: flex;
      flex-direction: column;
      align-items: center;

      .spinner {
        margin-top: 3rem;
      }

      .error {
        margin-top: 3rem;
        color: $primaryLight;
      }
    }
  }

}