@import '@presentation/styles/colors.scss';

* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $background;
  height: 4rem;
  font-size: 1.4rem;
}

input[type="password"],
input[type="email"] {
  font-size: 1.4rem;
  border: 0.1rem solid $primaryLight;
  line-height: 4rem;
  border-radius: 0.4rem;
  padding-left: 1rem;
  padding-right: 3rem;


  &:focus {
    outline-color: $primaryLight;
  }
}

button {
  background-color: $primary;
  color: $white;
  border-radius: .8rem;
  font-size: 1.6rem;
  border: none;
  line-height: 6rem;

  &:hover {
    opacity: 0.9;
  }
}
