@import '@presentation/styles/colors.scss';

.surveyListWrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  background-color: $disabledBackground;

  .contentWrap {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: flex-start;
    max-width: 80rem;
    width: 100%;
    flex-grow: 1;
    padding: 4rem;

    h2 {
      color: $primaryDark;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 2rem;
    }

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
    }
  }
}
