@import '@presentation/styles/colors.scss';

.iconWrap {
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  box-shadow: 0rem 0.1rem 0.3rem -0.1rem;

  &.red {
    background-color: $invalid;
  }

  &.green {
    background-color: $valid;
  }
}