@import '@presentation/styles/colors.scss';

.headerWrap {
  display: flex;
  background-color: $primary;
  border-top: 40px solid $primaryDark;
  justify-content: center;

  .headerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 80rem;
    flex-grow: 1;
    padding: 2rem 4rem;

    img {
      width: 6rem;
      align-self: center;
    }

    .logoutWrap {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      align-self: center;
      justify-content: center;
      color: $white;

      span {
        font-size: 1.6rem;
        margin-bottom: 1rem;
      }

      a {
        color: $white;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .headerWrap {
    border-top-width: 20px;
  }
}