@import '@presentation/styles/colors.scss';

.answerWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $white;
  align-items: center;
  padding: 2rem;
  border-radius: 1rem;
  margin-top: 1.6rem;
  cursor: pointer;

  &.active {
    box-shadow: 0rem 0rem 0.3rem 0.2rem $primaryLight;
    cursor: default;
  }

  img {
    width: 5rem;
    height: 5rem;
    margin-right: 2rem;
  }

  .answer {
    flex-grow: 1;
    margin-right: 2rem;
    font-size: 2rem;
    color: $primaryDark;
  }

  .percent {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .answerWrap {
    img {
      width: 4rem;
      height: 4rem;
    }

    .answer {
      font-size: 1.8rem;
      color: $primaryDark;
    }

    .percent {
      font-size: 2rem;
    }
  }
}